##### Windows
# Файлы кэша эскизов Windows
Thumbs.db
Thumbs.db: зашифрованный
ehthumbs.db
ehthumbs_vista.db

# Файл дампа
* .stackdump

# Файл конфигурации папки
[Dd] esktop.ini

# Корзина, используемая в общих файловых ресурсах
$ RECYCLE.BIN /

# Файлы установщика Windows
*.такси
* .msi
* .msix
* .msm
* .msp

# Ярлыки Windows
* .lnk

##### Linux
* ~

# временные файлы, которые могут быть созданы, если у процесса еще есть дескриптор удаленного файла
.fuse_hidden *

# Настройки каталога KDE
.directory

# Корзина для мусора Linux, которая может появиться на любом разделе или диске
.Trash- *

# Файлы .nfs создаются, когда открытый файл удаляется, но к нему все еще обращаются
.nfs *

##### MacOS
# Общее
.DS_Store
.AppleDouble
.LSOverride

# Значок должен заканчиваться двумя \ r
Икона

# Миниатюры
._ *

# Файлы, которые могут появиться в корне тома
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
. Мусор
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Каталоги, потенциально созданные на удаленном ресурсе AFP
.AppleDB
.AppleDesktop
Сетевая корзина
Временные предметы
.apdisk

##### Android
# Встроенные файлы приложений
* .apk
* .ap_
* .aab

# Файлы для ART / Dalvik VM
* .dex

# Файлы классов Java
*.класс

# Сгенерированные файлы
bin /
gen /
вне/
# Раскомментируйте следующую строку, если вам нужно, и у вас нет файлов типа сборки выпуска в вашем приложении
# выпуск/

# Файлы Gradle
.gradle /
build /

# Локальный файл конфигурации (путь sdk и т. Д.)
local.properties

# Папка Proguard, созданная Eclipse
proguard /

# Лог-файлы
*.журнал

# Временные файлы редактора навигации Android Studio
.navigation /

# Android Studio сохраняет папку
захватывает /

# IntelliJ
* .iml
.idea / workspace.xml
.idea / tasks.xml
.idea / gradle.xml
.idea / assetWizardSettings.xml
.idea / словари
.idea / библиотеки
# Android Studio 3 в файле .gitignore.
.idea / кеши
.idea / modules.xml
# Прокомментируйте следующую строку, если вам важно сохранение положения элементов в редакторе навигации
.idea / navEditor.xml

# Файлы хранилища ключей
# Раскомментируйте следующие строки, если вы не хотите проверять файлы хранилища ключей в.
# *. jks
# *. хранилище ключей

# Внешняя собственная папка сборки, созданная в Android Studio 2.2 и новее
.externalNativeBuild

# Сервисы Google (например, API или Firebase)
# google-services.json

# Freeline
freeline.py
фрилайн /
freeline_project_description.json

# скоростная полоса
fastlane / report.xml
fastlane / Preview.html
fastlane / скриншоты
fastlane / test_output
fastlane / readme.md

# Управление версиями
vcs.xml

# ворс
пух / промежуточные продукты /
lint / сгенерированный /
линт / выходы /
lint / tmp /
# lint / reports /

##### Резервный
* .bak
* .gho
* .ori
* .orig
* .tmp

##### GPG
secring. *

##### Dropbox
# Настройки и кеши Dropbox
.dropbox
.dropbox.attr
.dropbox.cache

##### SynopsysVCS
# Форматы сигналов
* .vcd
* .vpd
* .evcd
* .fsdb

# Имя исполняемого файла моделирования по умолчанию. Может быть другое имя
# указан с помощью этого переключателя (имя связанной базы данных daidir
# также взято отсюда): -o <путь> / <имя файла>
симв

# Создано для верхних конфигураций Verilog и VHDL
simv.daidir /
simv.db.dir /

# Инфраструктура, необходимая для совместного моделирования моделей SystemC с
# Модели Verilog / VHDL. Альтернативный каталог может быть указан с этим
# переключатель: -Mdir = <directory_path>
csrc /

# Файл журнала - следующий переключатель позволяет указать файл, который будет
# используется для записи всех сообщений от симуляции: -l <filename>
*.журнал

# Результаты покрытия (сгенерированные с помощью urg) и расположение базы данных. В
# также можно использовать следующий переключатель: urg -dir <coverage_directory> .vdb
simv.vdb /
urgReport /

# Файлы, связанные с DVE и UCLI.
DVEfiles /
ucli.key

# Когда дизайн разрабатывается для DirectC, создается следующий файл
# с объявлениями для функций C / C ++.
vc_hdrs.h

##### SVN
.svn /

##### Меркуриал
.hg /
.hgignore
.hgsigs
.hgsub
.hgsubstate
.hgtags

##### Базар
.bzr /
.bzrignore

##### CVS
/ CVS / *
** / CVS / *
.cvsignore
* /. cvsignore

##### TortoiseGit
# Настройки на уровне проекта
/.tgitconfig

##### PuTTY
# Закрытый ключ
* .ppk

##### Vim
# Своп
[._] *. s [av] [az]
! *. svg # закомментируйте, если вам не нужны векторные файлы
[._]*.своп]
[._] s [a-rt-v] [az]
[._] сс [а-ги-я]
[._]своп]

# Сессия
Session.vim
Sessionx.vim

# Временный
.netrwhist
* ~
# Автоматически созданные файлы тегов
теги
# Постоянная отмена
[._] *. un ~

##### Emacs
# - * - режим: gitignore; - * -
* ~
\ # * \ #
/.emacs.desktop
/.emacs.desktop.lock
* .elc
список автосохранения
бродяга
. \ # *

# Org-mode
.org-id-locations
*_архив

# flymake-mode
* _flymake. *

# файлы eshell
/ eshell / история
/ eshell / lastdir

# пакет elpa
/ elpa /

# файла reftex
* .rel

# Авто папка AUCTeX
/авто/

# бочка
.cask /
dist /

# Flycheck
flycheck _ *. el

# каталог авторизации сервера
/ сервер /

# файл снарядов
.projectile

# конфигурация каталога
.dir-locals.el

# сетевая безопасность
/network-security.data

##### SublimeText
# Кеш-файлы для Sublime Text
* .tmlanguage.cache
* .tmPreferences.cache
* .stTheme.cache

# Файлы рабочей области зависят от пользователя
* .sublime-workspace

# Файлы проекта должны быть возвращены в репозиторий, за исключением значительных
# часть участников, вероятно, не будет использовать Sublime Text
# * .sublime-project

# Файл конфигурации SFTP
sftp-config.json
sftp-config-alt * .json

# Пакетный контроль определенных файлов
Пакет Control.last-run
Пакет Control.ca-list
Пакет Control.ca-bundle
Пакет Control.system-ca-bundle
Пакет Control.cache /
Пакет Control.ca-certs /
Пакет Control.merged-ca-bundle
Пакет Control.user-ca-bundle
oscrypto-ca-bundle.crt
bh_unicode_properties.cache

# Пакет Sublime-github хранит токен github в этом файле
# https://packagecontrol.io/packages/sublime-github
GitHub.sublime-настройки

##### Блокнот ++
# Резервные копии Notepad ++ #
* .bak

##### TextMate
* .tmproj
* .tmproject
tmtags

##### VisualStudioCode
.vscode / *
! .vscode / settings.json
! .vscode / tasks.json
! .vscode / launch.json
! .vscode / extensions.json
* .code-рабочая область

# Локальная история для кода Visual Studio
.history /

##### NetBeans
** / nbproject / private /
** / nbproject / Makefile - *. mk
** / nbproject / Пакет - *. bash
build /
nbbuild /
dist /
nbdist /
.nb-gradle /

##### JetBrains
# Охватывает IDE JetBrains: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm и Rider
# Ссылка: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# Пользовательские вещи
.idea / ** / workspace.xml
.idea / ** / tasks.xml
.idea / ** / usage.statistics.xml
.idea / ** / словари
.idea / ** / полка

# Сгенерированные файлы
.idea / ** / contentModel.xml

# Конфиденциальные файлы или файлы с большим оттоком
.idea / ** / dataSources /
.idea / ** / dataSources.ids
.idea / ** / dataSources.local.xml
.idea / ** / sqlDataSources.xml
.idea / ** / dynamic.xml
.idea / ** / uiDesigner.xml
.idea / ** / dbnavigator.xml

# Gradle
.idea / ** / gradle.xml
.idea / ** / библиотеки

# Gradle и Maven с автоматическим импортом
# При использовании Gradle или Maven с автоматическим импортом следует исключить файлы модулей,
# так как они будут созданы заново и могут вызвать отток. Раскомментируйте при использовании
# автоматический импорт.
# .idea / artifacts
# .idea / compiler.xml
# .idea / jarRepositories.xml
# .idea / modules.xml
# .idea / *. iml
# .idea / modules
# * .iml
# * .ipr

# CMake
cmake-build - * /

# Плагин Mongo Explorer
.idea / ** / mongoSettings.xml

# Файловый формат проекта
* .iws

# IntelliJ
вне/

# mpeltonen / sbt-idea плагин
.idea_modules /

# Плагин JIRA
atlassian-ide-plugin.xml

# Плагин Cursive Clojure
.idea / replstate.xml

# Плагин Crashlytics (для Android Studio и IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
ткань. свойства

# Клиент Rest на основе редактора
.idea / httpRequests

# Android studio 3.1+ сериализованный файл кеша
.idea / caches / build_file_checksums.ser

##### Затмение
.metadata
bin /
tmp /
* .tmp
* .bak
* .swp
* ~ .nib
local.properties
.settings /
.loadpath
.recommenders

# Внешние конструкторы инструментов
.externalToolBuilders /

# Локально сохраненные "конфигурации запуска Eclipse"
* .launch

# Специально для PyDev (Python IDE для Eclipse)
* .pydevproject

# Для CDT (Инструменты разработки C / C ++)
.cproject

# CDT- автоинструменты
.autotools

# Обработчик аннотаций Java (APT)
.factorypath

# Специфично для PDT (Инструменты разработки PHP)
.buildpath

# sbteclipse плагин
.target

# Плагин Tern
.tern-проект

# Плагин TeXlipse
.texlipse

# STS (набор инструментов Spring)
.springBeans

# Рекомендации по коду
.recommenders /

# Обработка аннотаций
.apt_generated /
.apt_generated_test /

# Scala IDE (разработка на Scala и Java для Eclipse)
.cache-main
.scala_dependencies
.worksheet

# Раскомментируйте эту строку, если хотите игнорировать файл описания проекта.
# Обычно этот файл отслеживается, если он содержит конфигурации сборки / зависимости:
# .project

##### Qt
# C ++ объекты и библиотеки
* .slo
* .lo
* .o
* .a
* .la
* .lai
*.так
*.так.*
* .dll
* .dylib

# Qt-es
object_script. *. Выпуск
object_script. *. Отладка
* _plugin_import.cpp
/.qmake.cache
/.qmake.stash
* .pro.user
* .pro.user. *
* .qbs.user
* .qbs.user. *
* .moc
moc _ *. cpp
moc _ *. h
qrc _ *. cpp
ui _ *. h
* .qmlc
* .jsc
Makefile *
* build- *
* .qm
* .prl

# Модульные тесты Qt
target_wrapper. *

# QtCreator
* .autosave

# QtCreator Qml
* .qmlproject.user
* .qmlproject.user. *

# QtCreator CMake
CMakeLists.txt.user *

# QtCreator 4.8 <база данных компиляции 
compile_commands.json

# QtCreator файлы, специфичные для локального компьютера, для импортированных проектов
* creator.user *

##### VisualStudio
##### VisualStudio
## Игнорировать временные файлы Visual Studio, результаты сборки и
## файлы, созданные популярными надстройками Visual Studio.
##
## Получите последнюю информацию с https://github.com/github/gitignore/blob/master/VisualStudio.gitignore

# Файлы для конкретных пользователей
* .rsuser
* .suo
* .user
* .userosscache
* .sln.docstates

# Файлы для конкретных пользователей (MonoDevelop / Xamarin Studio)
* .userprefs

# Моно автоматически сгенерированные файлы
mono_crash. *

# Результаты сборки
[Dd] ebug /
[Dd] ebugPublic /
[Rr] elease /
[Rr] eleases /
x64 /
x86 /
[Ww] [Ii] [Nn] 32 /
[Aa] [Rr] [Mm] /
[Aa] [Rr] [Mm] 64 /
bld /
[Bb] в /
[Oo] bj /
[Ll] og /
[Ll] ogs /

# Visual Studio 2015/2017 каталог cache / options
.vs /
# Раскомментируйте, если у вас есть задачи, которые создают статические файлы проекта в wwwroot
# wwwroot /

# Visual Studio 2017 автоматически сгенерированные файлы
Создано \ Files /

# Результаты теста MSTest
[Tt] est [Rr] результат * /
[Bb] uild [Ll] og. *

# NUnit
* .VisualState.xml
TestResult.xml
nunit - *. xml

# Результаты сборки проекта ATL
[Dd] ebugPS /
[Rr] eleasePS /
dlldata.c

# Результаты сравнения
BenchmarkDotNet.Artifacts /

# .NET Core
project.lock.json
project.fragment.lock.json
артефакты /

# Строительные леса ASP.NET
Строительные лесаReadMe.txt

# StyleCop
StyleCopReport.xml

# Файлы, созданные Visual Studio
*_IC
*_ПК
* _h.h
* .ilk
*.мета
* .obj
* .iobj
* .pch
* .pdb
* .ipdb
* .pgc
* .pgd
* .rsp
* .sbr
* .tlb
* .tli
* .tlh
* .tmp
* .tmp_proj
* _wpftmp.csproj
*.журнал
* .vspscc
* .vssscc
.builds
* .pidb
* .svclog
* .scc

# Chutzpah Тестовые файлы
_Chutzpah *

# Файлы кэша Visual C ++
ipch /
* .aps
* .ncb
* .opendb
* .opensdf
* .sdf
* .cachefile
* .VC.db
* .VC.VC.opendb

# Профилировщик Visual Studio
* .psess
* .vsp
* .vspx
* .sap

# Файлы трассировки Visual Studio
* .e2e

# TFS 2012 Локальная рабочая область
$ tf /

# Набор средств автоматизации наведения
* .gpState

# ReSharper - это надстройка для программирования .NET
_ReSharper * /
*. [Rr] e [Ss] Harper
* .DotSettings.user

# TeamCity - это надстройка для сборки
_TeamCity *

# DotCover - инструмент покрытия кода
* .dotCover

# AxoCover - инструмент покрытия кода
.axoCover / *
! .axoCover / settings.json

# Coverlet - это бесплатный кроссплатформенный инструмент для покрытия кода.
покрытие * [. json, .xml, .info]

# Результаты покрытия кода Visual Studio
* .coverage
* .coveragexml

# NCrunch
_NCrunch_ *
. * кранч * .local.xml
nCrunchTemp_ *

# MightyMoose
* .мм. *
AutoTest.Net/

# Веб-инструментальные средства (sass)
.sass-cache /

# Выходная папка Installshield
[Ee] xpress /

# DocProject - надстройка генератора документации
DocProject / buildhelp /
DocProject / Help / *. HxT
DocProject / Help / *. HxC
DocProject / Help / *. Hhc
DocProject / Help / *. Hhk
DocProject / Help / *. Hhp
DocProject / Help / Html2
DocProject / Help / html

# Каталог Click-Once
публиковать/

# Публикация веб-вывода
*. [Pp] ublish.xml
* .azurePubxml
# Примечание. Прокомментируйте следующую строку, если хотите проверить настройки веб-развертывания,
# но строки подключения к базе данных (с потенциальными паролями) не будут зашифрованы
* .pubxml
* .publishproj

# Настройки публикации веб-приложения Microsoft Azure. Прокомментируйте следующую строку, если хотите
# проверьте настройки публикации веб-приложения Azure, но конфиденциальная информация
# в этих скриптах будет незашифрованным
PublishScripts /

# Пакеты NuGet
* .nupkg
# Пакеты символов NuGet
* .snupkg
# Папку пакетов можно игнорировать из-за восстановления пакета
** / [Pp] ackages / *
# кроме build /, который используется как цель MSBuild.
! ** / [Pp] ackages / build /
# Раскомментируйте, если необходимо, однако обычно он будет восстановлен при необходимости
#! ** / [Pp] ackages / repositories.config
# NuGet v3 файлы project.json создают более игнорируемые файлы
* .nuget.props
* .nuget.targets

# Выходные данные сборки Microsoft Azure
csx /
* .build.csdef

# Эмулятор Microsoft Azure
ecf /
rcf /

# Каталоги и файлы пакетов приложений Магазина Windows
AppPackages /
BundleArtifacts /
Package.StoreAssociation.xml
_pkginfo.txt
* .appx
* .appxbundle
* .appxupload

# Файлы кэша Visual Studio
# файлы с расширением .cache можно игнорировать
*. [Cc] ache
# но отслеживать каталоги, заканчивающиеся на .cache
!? *. [Cc] ache /

# Другое
ClientBin /
~ $ *
* ~
* .dbmdl
* .dbproj.schemaview
* .jfm
* .pfx
* .publishsettings
orleans.codegen.cs

# Включение файлов строгих имен может представлять угрозу безопасности
# (https://github.com/github/gitignore/pull/2483#issue-259490424)
# *. snk

# Поскольку существует несколько рабочих процессов, раскомментируйте следующую строку, чтобы игнорировать bower_components
# (https://github.com/github/gitignore/pull/1529#issuecomment-104372622)
# bower_components /

# Проекты RIA / Silverlight
Generated_Code /

# Резервное копирование и файлы отчетов после преобразования старого файла проекта
# к более новой версии Visual Studio. Файлы бэкапа не нужны,
# потому что у нас есть git ;-)
_UpgradeReport_Files /
Резервный*/
UpgradeLog * .XML
UpgradeLog * .htm
ServiceFabricBackup /
* .rptproj.bak

# Файлов SQL Server
* .mdf
* .ldf
* .ndf

# Проекты Business Intelligence
* .rdl.data
* .bim.layout
* .bim _ *. настройки
* .rptproj.rsuser
* - [Bb] ackup.rdl
* - [Bb] ackup ([0-9]). Rdl
* - [Bb] ackup ([0-9] [0-9]). Rdl

# Подделки Microsoft
ПодделкиСборки /

# Файл настроек плагина GhostDoc
* .GhostDoc.xml

# Инструменты Node.js для Visual Studio
.ntvs_analysis.dat
node_modules /

# Журнал сборки Visual Studio 6
* .plg

# Файл параметров рабочей области Visual Studio 6
* .opt

# Visual Studio 6 автоматически сгенерированный файл рабочей области (содержит, какие файлы были открыты и т. Д.)
* .vbw

# Вывод сборки Visual Studio LightSwitch
** / *. HTMLClient / GeneratedArtifacts
** / *. DesktopClient / GeneratedArtifacts
** / *. DesktopClient / ModelManifest.xml
** / *. Сервер / GeneratedArtifacts
** / *. Сервер / ModelManifest.xml
_Pvt_Extensions

# Пакетный менеджер зависимостей
.paket / paket.exe
пакеты-файлы /

# FAKE - F # Make
.подделка/

# CodeRush личные настройки
.cr / личные

# Инструменты Python для Visual Studio (PTVS)
__pycache __ /
* .pyc

# Торт - раскомментируйте, если вы его используете
# инструменты/**
#! tools / packages.config

# Tabs Studio
* .tss

# Файл конфигурации Telerik's JustMock
* .jmconfig

# Вывод сборки BizTalk
* .btp.cs
* .btm.cs
* .odx.cs
* .xsd.cs

# Результаты анализа OpenCover UI
OpenCover /

# Выходные данные локального запуска Azure Stream Analytics
ASALocalRun /

# MSBuild Двоичный и структурированный журнал
* .binlog

# Файл конфигурации отладчика графического процессора NVidia Nsight
* .nvuser

# Рабочая папка MFractors (средство повышения производительности Xamarin)
.mfractor /

# Local History для Visual Studio
.localhistory /

# База данных BeatPulse Healthcheck temp
healthchecksdb

# Резервная папка для инструмента преобразования ссылок на пакеты в Visual Studio 2017
MigrationBackup /

# Ionide (кроссплатформенные инструменты F # VS Code) рабочая папка
.ionide /

# Fody - автоматически сгенерированная XML-схема
FodyWeavers.xsd

##### Gradle
.gradle
** / build /
! src / ** / build /

# Игнорировать конфигурацию графического интерфейса Gradle
gradle-app.setting

# Избегайте игнорирования файла jar оболочки Gradle (файлы .jar обычно игнорируются)
! gradle-wrapper.jar

# Кэш проекта
.gradletasknamecache

# # Работайте вокруг https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle / wrapper / gradle-wrapper.properties

##### CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Тестирование
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

##### C ++
# Предпосылки
* .d

# Скомпилированные объектные файлы
* .slo
* .lo
* .o
* .obj

# Предварительно скомпилированные заголовки
* .gch
* .pch

# Скомпилированные динамические библиотеки
*.так
* .dylib
* .dll

# Файлы модуля Fortran
* .mod
* .smod

# Скомпилированные статические библиотеки
* .lai
* .la
* .a
* .lib

# Исполняемые файлы
*.исполняемый файл
*.вне
*.приложение

##### C
# Предпосылки
* .d

# Объектные файлы
* .o
* .ko
* .obj
* .elf

# Вывод компоновщика
* .ilk
*.карта
* .exp

# Предварительно скомпилированные заголовки
* .gch
* .pch

# Библиотеки
* .lib
* .a
* .la
* .lo

# Общие объекты (включая библиотеки DLL Windows)
* .dll
*.так
*.так.*
* .dylib

# Исполняемые файлы
*.исполняемый файл
*.вне
*.приложение
* .i * 86
* .x86_64
* .hex

# Файлы отладки
* .dSYM /
* .su
* .idb
* .pdb

# Результаты компиляции модуля ядра
* .mod *
* .cmd
.tmp_versions /
modules.order
Module.symvers
Mkfile.old
dkms.conf